

<div class="ui container">

<div class="ui form">
  <h1 class="ui header">Import your CSV here</h1>

  <%= form_tag({:action => :import}, multipart: true, class: "ui form") do %>
    <%= file_field_tag :file, class: "ui field" %>
    <%= submit_tag( "Import", class: "ui button" ) %>
  <% end %>
</div>


<% if @current_data.present? %>

<div class="ui form">
  <%= form_tag('/find', class: "ui form") do %>
  <%= label_tag(:search, "Search for:") %>
  <%= text_field_tag :search%>
  <%= button_tag "Search", class: "ui button" %>
  <% end %>
</div>


<%= paginate @current_data %>

<table class="ui celled table">
  <thead>
    <tr>
      <th><a href="/?order=first_name">First Name</a></th>
      <th><a href="/?order=last_name">Last Name</th>
      <th><a href="/?order=species">Species</th>
      <th><a href="/?order=gender">Gender</th>
      <th>Locations</th>
      <th>Affiliations</th>
      <th><a href="/?order=weapon">Weapon</th>
      <th><a href="/?order=vehicle">Vehicle</th>
    </tr>
  </thead>  
  <tbody>
  <% @current_data.each do |char| %>

    <tr>
        <td><%= char.first_name %></td>
        <td><%= char.last_name %></td>
        <td><%= char.species %></td>
        <td><%= char.gender %></td>
        <td><%= char.locations.map(&(:name)).join(',') %></td>
        <td><%= char.affiliations.map(&(:name)).join(',') %></td>
        <td><%= char.weapon %></td>
        <td><%= char.vehicle %></td>
    </tr> 
  <% end  %>
  </tbody>
</table>

<% end%>

</div>