<h1>Import your CSV here/h1>


<%= form_tag({:action => :import}, multipart: true) do %>
  <%= file_field_tag :file %>
  <%= submit_tag( "Import" ) %>
<% end %>

<% if @current_data.present? %>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Species</th>
    <th>Gender</th>
    <th>Locations</th>
    <th>Affiliations</th>
    <th>Weapon</th>
    <th>Vehicle</th>
  </tr>
  
  <% @current_data.each do |char| %>

  <tr>
      <td><%= char.first_name %></td>
      <td><%= char.last_name %></td>
      <td><%= char.species %></td>
      <td><%= char.gender %></td>
      <td><%= char.locations.map(&(:name)).join(',') %></td>
      <td><%= char.affiliations.map(&(:name)).join(',') %></td>
      <td><%= char.weapon %></td>
      <td><%= char.vehicle %></td>
  </tr> 
  <% end  %>
</table>

<% end %>